body {
  padding: 40px;
}

/* CSS for welcome screen */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


/* CSS for uploading a figure screen */
#get-review {
  display: none;
}

#get-review-upload-preview {
  display: none;
}

#get-review-field, #get-review-description {
  width: 400px;
}

#get-review-field {
  margin-top: 50px;
}
